/* Lets add some style!!*/

/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #cdd8da;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
}
  
h1 {
  font-size: 50px;
}

h2 {
  font-size: 15px;
  padding-top: 5px;
  text-align: "center";
}

h3 {
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: "center";
  color: rgb(32, 110, 122);
}

h4 {
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  text-align: "center";
  color: rgb(32, 110, 122);
}


/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 160px;
  padding-top: 20px;
  background: rgb(32, 110, 122);
  text-align: "center";
}

.small_header {
    height: 200px;
    padding-top: 20px;
    background: rgb(32, 110, 122);
  }
.thumbnail_header {
  
  padding-top: 20px;
  background: #fafafa;

}
.thumbnail_header h3 {
    padding: 20px;
    margin: 0;
    color: rgb(32, 110, 122);
    text-align: "center";
}
  /* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
  .header h1 {
    padding: 20px;
    margin: 0;
    color: #fafafa;
    text-align: "center";
  }

  .small_header h1 {
    padding: 30px;
    margin: 0;
    color: #000;
    text-align: "center";
  }
  /* Giving the .post element margin on 3 sides */
  .post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
  }



  /*Nav Bar Info*/
  .navbar {
    font-size: 25px; 
  }

  .navigation .navbar-brand {
    margin-left: 0px;
    padding: 10;
    font-weight: bold;
    background-color:#fafafa;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
   
  .active, .dropdown-menu .dropdown-item:active a:hover {
    color:  rgb(32, 110, 122);
  }

  .dropdown-item {
    color:  rgb(32, 110, 122);
    background:#cdd8da;  
  }

  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #242721bf;
  }
    
  .nav-link:hover {
    color: #662525;
    background-color: #474b4136;
  }
  
  .navbar-brand{
    background: #9b9fa0;
  }

  .navbar-brand:hover {
    color: rgb(165, 165, 165);
    
  }
  
  .active, .panel:hover {
    border-color:rgb(32, 110, 122);
    border-style: solid;
  }

  .bg-dark {
    background-color: #d6dadd;
    @include media-breakpoint-up(md) {
        background-color: transparent;
    }
  }


a {
    color: rgb(32, 110, 122);
    font-size: 30px;
}
b {
  color: rgb(32, 110, 122);
  font-size: 30px;
  font-weight: bold; 
  
}

/* boxes */
.box-set {
  position: relative;
  height: 400px;
  background: darkgray;
}

.box {
  width: 150px;
  height: 150px;
  background: #2db34a;
  border: 2px solid black;
}




            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./plot_max_temp.html">Max Temperature</a>
              <a class="dropdown-item" href="./plot_cloudiness.html">Cloudiness</a>
              <a class="dropdown-item" href="./plot_wind_speed.html">Wind Speed</a>
              <a class="dropdown-item" href="./plot_humidity.html">Humidity</a>
            </div>